<body class="d-flex flex-column vh-100">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Libray App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/">Home</a>
                <a class="nav-link" routerLink="/authors">Authors</a>
                <a class="nav-link" routerLink="/books">Books</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-link"  routerLink="/login" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Login</a>
                <a class="nav-link" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Logout</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted text-center">&copy; Library 2021</span>
    </div>
</footer>
</body>