     <main class="container mt-5"  >
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card mb-3">
                    
                    <img src="{{books.image}}" class="card-img-top" alt="">
                    
                    <div class="card-body">
                        <h3 class="card-title">{{books.name}}</h3>
                        <p class="card-text">{{books.description}} </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">{{books.author}}</li>
                    </ul>
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">This books info posted 2 days ago
                        </li>
                    </ul> 
                     <div class="card-body" *ngIf="showDeleteButton">
                        <a class="card-link btn btn-info" *ngIf=" _auth.loggedIn() && _auth.getUser()=='admin' " routerLink="/books/{{books._id}}/edit">Edit</a>
                        <div class="d-inline"  >
                            <button *ngIf=" _auth.loggedIn() && _auth.getUser()=='admin' " type="submit"  (click)="deleteBook()" class="btn btn-danger" >Delete</button>
                        </div>
                    </div>
                
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                    <div class="card-footer" text-primary>
                        <a href="/books">back to all books</a>
                    </div>
                </div>
            </div>
        </div>
    </main>  
     

     <!-- <h1>hello it is server err </h1>
     <h1> {{Id}} </h1> -->